.container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  flex: 1
}


.absoluteCenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}


.chunkContent {
  word-break: break-word;
  white-space: pre-wrap;
}

.step1Form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
